results/*.mat
*.asv
octave-workspace
slprj/
*.slxc
*.mexa64
PMSG_simulink.zip
modelisation_PMSG_latex.zip
Modelisation_PMSG_v2.pdf
Modelisation_PMSG_v3.pdf
Cours_PMSG_explication.pdf
cours_PMSG_latex.zip
Cours_PMSG_explication_FR.pdf
Platitude_en_detail.pdf
